*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 400px;
    height: 300px;
    border: 4px solid chocolate;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

p{
    font-size: 50px;
}

button{
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: chocolate;
    border: 2px solid black;
}

.counter-controls > button{
    width: 50px;
    height: 50px;
    margin-inline: 15px;
}

label{
    font-size: 20px;
    font-weight: 600;
}

input{
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid black;
}

.reset{
    width: 80px;
    height: 40px;
}