*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top-section h1{
    font-size: 2rem;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.top-section h4{
    text-align: end;
    font-size: 1.2rem;
}

img{
    width: 300px;
    height: 320px;
    border-radius: 50%;
    border: 2px solid black;
}

.about-section{
    margin-top: 50px;
}

.about-section h2{
    font-size: 1.6rem;
}

.about-section p{
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography-section h3{
    font-size: 2rem;
    margin: 50px 0px 20px 0px;
}

li{
    margin: 15px 0px 15px 20px;
}

footer p{
    margin: 50px 0px;
    font-size: 1.2rem;
    text-align: end;
}